/LIsta 2/exercicio1/nbproject/private/
/LIsta 2/exercicio2/nbproject/private/
/LIsta 2/exercicio3/nbproject/private/
/LIsta 2/exercicio4/nbproject/private/
/LIsta 2/exercicio5/nbproject/private/
/LIsta 2/exercicio1/build/
/LIsta 2/exercicio1/dist/
/LIsta 2/exercicio2/build/
/LIsta 2/exercicio3/build/
/LIsta 2/exercicio3/dist/
/LIsta 2/exercicio4/build/
/LIsta 2/exercicio2/dist/
/LIsta 2/exercicio5/dist/
/LIsta 2/exercicio5/build/
/Lista 3/exercicio1/nbproject/private/
/Lista 3/exercicio2/nbproject/private/
/Lista 3/exercicio3/nbproject/private/
/Lista 3/exercicio4/nbproject/private/
/Lista 3/exercicio5/nbproject/private/
/Lista 3/exercicio6/nbproject/private/
/Lista 3/exercicio1/build/
/Lista 3/exercicio1/dist/
/Lista 3/exercicio2/build/
/Lista 3/exercicio2/dist/
/Lista 3/exercicio3/build/
/Lista 3/exercicio4/build/
/Lista 3/exercicio4/dist/
/Lista 3/exercicio6/dist/
/Lista 3/exercicio6/build/
/Lista 4/exercicio1/nbproject/private/
/Lista 4/exercicio2/nbproject/private/
/Lista 4/exercicio3/nbproject/private/
/Lista 4/exercicio4/nbproject/private/
/Lista 4/exercicio5/nbproject/private/
/Lista 4/exercicio6/nbproject/private/
/Lista 4/exercicio7/nbproject/private/
/Lista 4/exercicio8/nbproject/private/
/Lista 4/exercicio9/nbproject/private/
/Lista 4/exercicio10/nbproject/private/
/Lista Funções/exercicio1/nbproject/private/
/Lista Funções/exercicio2/nbproject/private/
/Lista Funções/exercicio3/nbproject/private/
/Lista Funções/exercicio4/nbproject/private/
/Lista Funções/exercicio5/nbproject/private/
/Lista Funções/exercicio6/nbproject/private/
/Lista Funções/exercicio1/build/
/Lista Funções/exercicio1/dist/
/Lista Funções/exercicio3/build/
/Lista VII/exercicio1/nbproject/private/
/Lista VII/exercicio2/nbproject/private/
/Lista VII/exercicio3/nbproject/private/
/Lista VII/exercicio4/nbproject/private/
/Lista VII/exercicio1/dist/
/Lista VII/exercicio1/build/
/Lista VII/exercicio3/build/
/Lista VII/exercicio3/dist/
/LISTA 10/exercicio1/nbproject/private/
/LISTA 10/exercicio1/build/
/LISTA 10/exercicio1/dist/
/LISTA 12/classes/nbproject/private/
/LISTA 12/main/nbproject/private/
/LISTA 12/main/dist/
/LISTA 12/main/build/
